Debug
Release
*.libs
*.a
*.al
*.bak
*.d
*.dll
*.exe
*.idb
*.la
*.lib
*.lo
*.log
*.ncb
*.o
*.obj
*.pdb
*.pyc
*.pyo
*.rej
*.so
*.suo
*.tif
*.zip
*.so.[0-9]*
*~
#*#
.#*
.*.swp
.DS_Store
/OutsidePackages/zlib123
/OutsidePackages/MySqlWin64
/OutsidePackages/MySqlWin32
*.kkramer.user
/OutsidePackages/fftw-3.3.2
