Debug
Release
*.libs
*.a
*.al
*.bak
*.d
*.dll
*.exe
*.idb
*.ilk
*.la
*.lib
*.lo
*.log
*.ncb
*.o
*.obj
*.pdb
*.pyc
*.pyo
*.rej
*.sdf
*.so
*.tif
*.zip
*.so.[0-9]*
*~
#*#
.#*
.*.swp
.DS_Store
*.kkramer.user
Thumbs.db
/Apps/PicesCommander/obj/Debug/ResolveAssemblyReference.cache
*.kkramer.user

Backup/Apps/ChartControls/Battery.cs
Backup/Apps/ChartControls/Battery.Designer.cs
Backup/Apps
PicesDataBase.dbmdl

