<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PicesCommander.Properties.Settings.pices_newConnectionString" connectionString="server=131.247.139.234;User Id=root;password=dasani30;database=pices_new" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
