<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PicesCommander.Properties.Settings.pices_newConnectionString"
            connectionString="server=131.247.139.234;User Id=root;password=dasani30;database=pices_new"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>